/**
  * The beard is life
  * The beard is all
  * All hail the beard
**/
body {
  color: #202020; }

.header {
  background-color: #108010; }

.chat-window .message:nth-last-child(1) {
  color: #808080; }

.chat-window .message:nth-last-child(2) {
  color: #808080; }

.chat-window .message:nth-last-child(3) {
  color: #808080; }

.chat-window .message:nth-last-child(4) {
  color: #808080; }

.chat-window .message:nth-last-child(5) {
  color: #808080; }
