if media
	ol.media-queue
		each item in media
			li.media-item(data-user-id=item.userId,data-video-id=item.videoId,class=item.userId==userId ? 'mine' : '')= item.title
				if userIsAdmin || item.userId == userId
					.fa.fa-remove.delete