doctype html
head
	link(rel="stylesheet", href="/css/main.css")
	title= title
body
	header
		h1.header= title
		.add-media.fa.fa-plus
		.unlock.fa.fa-lock
	.main-content
		.chat-window.col-md-2.col-sm
			include ./_chatbox
		.media-adder
			include ./_addmedia
		.media-window.col-md-1.col-sm
			include ./_media
		.register-window
			include ./_register
	include ./_footer
	
	script(src="/js/jquery.js")
	script(src="/socket.io/socket.io.js")
	script(src="/js/jade-runtime.js")
	script(src="/js/templates.js")
	script(src="/js/main.js")
