@import "_breakpoint";

.chat-window {
	position: relative;
	height: 50%;
	@include breakpoint(700px) {
		height: 100%;
	}
	.chat-members {
		height: 30px;
		width: 100%;
		overflow: auto;
		.chat-members-list {
			list-style-type: none;
			margin: 0;
			.chat-member {
				display: inline-block;
				background-color: color(chat-member-background);
				color: color(chat-member-color);
				padding: 3px;
				height: 20px;
				font-size: 10px;
				border: 1px solid color(chat-member-border);
				border-radius: 5px;
				&.current-user {
					background-color: color(chat-current-user-background);
					cursor: pointer;
				}
				margin-right: 5px;
			}
		}
	}
	.chat-messages {
		position: absolute;
		left: 0;
		right: 7px;
		top: 30px;
		bottom: 35px;
		overflow: auto;
		.chat-table {
			display: table;
			width: 100%;
			border-collapse: collapse;
			&:empty {
				transform-origin: 4em 50% 0px;
				animation: .4s infinite wiggle;
				&:after {
					content: "Type something";
				}
			}
			.chat-message {
				display: table-row;
				&:nth-child(2n) {
					background-color: color(chat-message-alternate-background);
				}
				&.disconnected {
					color: color(text-subdued);
				}
				.td {
					display: table-cell;
					padding: 3px;
					vertical-align: middle;
					&.username {
						width: 10%;
					}
					.author {
						overflow: hidden;
						white-space: nowrap;
						float: left;
						clear: left;
						max-width: 200px; 
						padding-right: 3px;
						font-weight: bolder;
					}
					.message-text {
						padding-left: 15px;
						width: 100%;
						img {
							display: inline-block;
							max-width: 100%;
						}
					}
					&.ts {
						font-size: 0.4em;
						color: color(text-subdued);
						width: 5em;
					}
				}
			}
		}
	}
	.chat-entry {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 35px;
		.chat-input {
			background-color: color(chat-entry-background);
			font-size: 1em;
			height: 33px;
			padding: 5px;
			border-radius: 5px 0 0 5px;
			border: 1px solid color(chat-entry-border);
			border-right-width: 0;
			width: calc( 100% - 65px );
		}
		.chat-send {
			border: 1px solid color(chat-send-border);
			border-left-width: 0;
			color: color(chat-send-color);
			background-color: color(chat-send-background);
			transition: background-color 0.5s ease-in-out;
			height: 33px;
			width: 58px;
			padding: 5px;
			border-radius: 0 5px 5px 0;
			font-size: 1em;
			line-height: 1em;
			&:hover {
				background-color: color(chat-send-background-hover);
			}
		}
	}
}
@each $index in (1,2,3,4,5) {
  .chat-window .message:nth-last-child(#{$index}) {
    color: color(text-subdued);
  }
}

