.register-window {
	z-index: 200;
	background-color: color(modal-background);
	color: color(modal-color);
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	.register-box {
		position: absolute;
		left: 20%;
		width: 60%;
		top: 40%;
		text-align: center;
			
		.user-name {
			background-color: color(chat-entry-background);
			font-size: 1em;
			height: 33px;
			padding: 5px;
			border-radius: 5px 0 0 5px;
			border: 1px solid color(chat-entry-border);
			border-right-width: 0;
			width: calc( 100% - 58px );
		}
		.user-name-button {
			border: 1px solid color(chat-send-border);
			border-left-width: 0;
			color: color(chat-send-color);
			background-color: color(chat-send-background);
			transition: background-color 0.5s ease-in-out;
			height: 33px;
			width: 58px;
			padding: 5px;
			border-radius: 0 5px 5px 0;
			font-size: 1em;
			line-height: 1em;
			&:hover {
				background-color: color(chat-send-background-hover);
			}
		}
	}
	&.close {
		animation: fall-off 1s;
		transform: translateY(100%);
	}
	&.open {
		animation: fall-on 1s;
		transform: none;
	}
}