$colors: (
  header-background: #108010,
  header-color: #e0e0e0,
  text-color: #202020,
  text-subdued: #808080,
  text-highlight: #40a040,
  footer-background: #f0f0f0,
  footer-color: #606060
);

$sizes: (
  vid-h-small: 360px,
  vid-w-small: 640px,
  vid-h-medium: 450px,
  vid-w-medium: 800px,
  vid-h-large: 1080px,
  vid-w-large: 1920px,
);

