$colors: (
  header-background: #108010,
  header-color: #e0e0e0,
  text-color: #202020,
  text-subdued: #808080,
  text-highlight: #40a040,
  footer-background: #f0f0f0,
  footer-color: #606060,
  chat-entry-background: #c0c0c0,
  chat-entry-border: #909090,
  chat-send-background: #0b600b,
  chat-send-background-hover: #188818,
  chat-send-border: #108010,
  chat-send-color: #d0d0d0,
  media-background: #082008,
  media-color: #909090,
  media-controls-background: rgba(0,0,0,0.7),
  blazing: #fff,
  modal-background: #a0f0a0,
  modal-color: #202020,
  close-color: #909090,
  close-hover-color: #a05050,
  chat-member-background: #c0c0c0,
  chat-member-color: #202020,
  chat-member-border: #202020
);

$sizes: (
  vid-h-small: 360px,
  vid-w-small: 640px,
  vid-h-medium: 450px,
  vid-w-medium: 800px,
  vid-h-large: 1080px,
  vid-w-large: 1920px,
);

