@keyframes fall-off {
  0% {
    transform: translateY(0); }
  10% {
    transform: translateY(10%); }
  20% {
    transform: translateY(12%); }
  100% {
    transform: translateY(120%); } }

@keyframes fall-on {
  0% {
    transform: translateY(-120%); }
  10% {
    transform: translateY(-88%); }
  20% {
    transform: translateY(-86%); }
  100% {
    transform: translateY(0); } }

@keyframes enter-from-left {
  0% {
    transform: translateX(-120%); }
  10% {
    transform: translateX(-90%); }
  20% {
    transform: translateX(-88%); }
  100% {
    transform: translateX(0); } }

@keyframes leave-to-left {
  0% {
    transform: translateX(0); }
  10% {
    transform: translateX(-10%); }
  20% {
    transform: translateX(-12%); }
  100% {
    transform: translateX(-120%); } }
